<!DOCTYPE html>
<html lang={{ craft.app.language }}>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{entry.companyName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="https://kit.fontawesome.com/17c05eded0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css" />

</head>
<body>
<div class="app">
<div class="header">
    <div class="nav">

        <div class="logoMenuIcon">
            <a href="#" class="logoContainer">
                <div class="logo">
                    <i class="fab fa-xing-square fa-4x"></i>

                    <div class="companyName">
                    {% set companyName = entry.companyName|split(' ') %}

                        <h4>{{[companyName[0], companyName[1]]|join(' ')}}</h4>
                        <p>{{[companyName[2], companyName[3]]|join(' ')}}</p>

                    </div>
                </div>
            </a>

            {# Animates the menuIcon #}
            {% js %}
                const handleClick = () => {
                    const menuIcon = document.querySelectorAll('.menuIcon span')
                    
                    const menu = document.querySelector('.menu')

                    menu.classList.toggle('showMenu')
                    menuIcon.forEach((icon)=> {
                        icon.classList.toggle('mIconAnimate')
                    })
                }
            {% endjs %}

            <div class="menuIcon" onclick="handleClick()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menuLinks">
                {% for link in craft.entries.section('navigation').limit(5).all() %}
                    <a href={{link.toLink}}>{{link.title}}</a>
                {% endfor %}
            </div>
            
            {% set navButton = craft.entries.section('navigation').last() %}
            <div class="menuActions">
                <a href={{navButton.toLink}}>
                    <button>{{navButton}}</button>
                </a>
                
                {# Animates the searchbar #}
                {% js %}

                    const toggleSearch = () => {
                        const search = document.querySelector('.navSearch')

                        search.classList.toggle('openSearch')
                    }

                {% endjs %}

                {# The stylesheet wouldn't refresh changes so I added a css for specific changes here #}
                {% css %}
                    .searchIcon {
                        line-height: 2.3em ;
                        margin-left: -34px ;
                        z-index: 999;
                        cursor: pointer;                        
                    }

                {% endcss %}

                <form class="search" autoComplete="off" >
                    <div class="toggleSearch">
                        <input type="text" class="navSearch"  name="search" placeholder="Search" />

                        <i class="fas fa-search fa-lg searchIcon" onclick="toggleSearch()" ></i>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% block main %}

{% endblock %}

 <footer>
    <div class="contact">
        <div class="phoneEmail">
            <h1>{{entry.phoneNumber}}</h1>
            <p>Or send us an email using our <a href={{entry.contactUsLink}}>contact form</a>.</p>
        </div>
        <div class="spacer"></div>
        <div class="addressSocial">
            <address>
                <div>
                    <h4>{{entry.address}}</h4>
                </div>
                <p>
                    <a href="#">Get directions</a> to our office.
                </p>
            </address>

            <div class="socialMedia">
                {% for item in craft.assets().volume('socialMedia').kind('image').all() | reverse %}
                    <a href={{item.toLink}}>
                        <img src="{{item.getUrl()}}" alt={{item.title}}></a>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="copyright">

        {% for item in craft.entries.section('footer') %}
            {% if loop.first == true %}
                <p>&copy; {{item.title}} All Rights Reserved.</p>
            {% elseif loop.last == true %}
                <p>Website crafted by <a href={{item.toLink}}>{{item.title}}</a></p>
            {% else %}
                <p><a href={{item.toLink}}>{{item.title}}</a></p>
            {% endif %}
        {% endfor %}
    </div>
</footer>
        </div>

    </body>
</html>