{% extends "_layouts/main" %}
    
    {% block main %}
    <div class="cta">
        <div class="ctaMessage">
            {% set ctaMessage = entry.callToAction | replace(',', ',,') | split(', ')  %}
            {% for msg in ctaMessage %}
                <h1>
                {# This if/else condition allows the last line separated by the last comma to be styled differently #}
                {% if loop.last == false %}
                    {{msg}}<br />
                {% elseif loop.last == true %}
                    <span>{{msg}}</span>
                {% endif %}
                </h1>
            {% endfor %}
        </div>

        <div class="ctaLinks">
            <a href={{ entry.toLink }}>
                <button>{{ entry.buttonText }}</button>
            </a>
            <p>{{ entry.callToActionSubMsg }} <a href={{ entry.contactUsLink }}>{{entry.contactUsMessage}}</a></p>
        </div>
    </div>

    <div class="subMenu">
        <div class="subMenuPrompt">
            <i class="fas fa-user-circle fa-3x"></i>
            <p>How can we help?</p>
        </div>
        <div class="subMenuLinks showSubMenu">
            {% for item in craft.entries.section('submenu') %}
                <a href={{item.subMenuLink}}>{{item.title}}</a>
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="mainContent">

        {% for service in craft.entries.section('services').limit(3).all() %}

            <div class="card">
                <div class="cardImage">
                    <img src={{service.serviceImage.one().url}} alt="Team having a meeting"/>
                </div>
                <div class="cardDesc">
                    <h4>{{service.serviceTitle}}</h4>
                {{service.serviceExcerpt}}
                </div>
                <div class="cardButton">
                    <a href={{service.toLink}}><button>{{service.buttonText}}</button></a>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
        
